.custom_select {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.custom_select .options_list {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 10px 10px;
}
.custom_select .options_list .option_item {
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  padding: 13px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #232325;
  height: fit-content;
  position: relative;
}
.custom_select .options_list .option_item:first-of-type {
  color: #a6adb9;
}
.custom_select .options_list .option_item:last-of-type {
  border-radius: 0px 0px 10px 10px;
}
.custom_select .options_list .option_item.active::after {
  content: "";
  background-image: url("../assets/general/tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 11px;
  position: absolute;
  z-index: 100;
  right: 16px;
}